<ion-view view-title="Home"> <!--Search-->
  <ion-content>
  <div class="hero slide-up" style="background-image: url('img/BG.jpg');">
            <div class="content">
                <div class="app-icon" ></div> 
                    <h3><a class="light">iCariin</a></h3>
                <h4></h4>
            </div>
 </div>
 <div class="row">
    <div class="col">
        <div class="list">
            <div class="judul">Cari di Sini</div>
        </div>
    </div>
 </div>
    <div class="row">
    <div class="col col-50">
    	<div class="list">
    		<a class="item menu-avatar" href="#/app/results" style="background: url('../img/s5.png') center;">
    		</a>
            <div class="judul-kategori">Kategori 1</div>
    	</div>
    </div>		
    <div class="col col-50">
    	<div class="list">
    		<a class="item menu-avatar" href="#/app/results" style="background: url('../img/s2.png') center;">
            </a>
            <div class="judul-kategori">Kategori 1</div>
    	</div>
    </div>	
    </div>
    <div class="row">
    <div class="col col-50">
    	<div class="list">
    		<a class="item menu-avatar" href="#/app/results" style="background: url('../img/s3.png') center;">
            </a>
             <div class="judul-kategori">Kategori 1</div>
    	</div>
    </div>		
    <div class="col col-50">
    	<div class="list">
    		<a class="item menu-avatar" href="#/app/results" style="background: url('../img/s4.png') center;">
            </a>
            <div class="judul-kategori">Kategori 1</div>
    	</div>
    </div>	
    </div>
    </div>
  </ion-content>
   <div class="bar bar-footer bar-positive">
      <div class="title">Footer</div>
    </div>
</ion-view>
